<section class="section-3" id="section-5">
    <h1 class="section-heading section-3-heading">Blogs</h1>    
                 
    <h3 >Intro To ChatGPT</h3>
    <div style="text-align: left  !important;" class="container">
        <p>• What is it… An AI language model trained on a massive amount of text data that generates natural
            language responses in a conversational style. (Aka a magic genie)</p>
            <p>• Future of it… This tool and others like it will be seamlessly integrated into our computers and
            smartphones, eventually becoming a full-time personal assistant custom tailored to you.</p>
            <p>• Main benefits… Saving time, saving time, saving time. But also, extending into fields outside your
            expertise, quickly get ideas off the ground, and reiterate much more effectively.</p>
            <p>• Main Types of Outputs:</p>
            <div style="padding-left: 2rem;">
                <p><b>• Synthesizing Info</b> - Summarize large amounts of content in a concise way.</p>
                <p><b>• Content Creation and Copy</b> - Generate brand new content for a specific topic and purpose.</p>
                <p><b>• Learning and Research</b> - Get questions answered for extremely specific needs.</p>
                <p><b>• Coding</b> - Generate code, info on programming concepts and APIs, and debugging.</p>
            </div>
            <h3 >ChatGPT vs. Google</h3>
            <p>ChatGPT and Google search are both AI-powered tools, but they differ in several ways:</p>
            <p><b>1. Purpose:</b> Google search is a search engine that helps you find links to information on the web, while ChatGPT is an interactive tool that not only finds you the information you are searching for but can
                </p>
                <p><b>2. Input:</b> Google search requires a user to type in a query, whereas ChatGPT interacts with users in a conversational or iterative manner, you must work with it to get the desired output such as asking follow up questions. (Even if you do not know what question to ask)</p>
                <p><b>3. Output:</b> Google search returns a list of web pages related to the query, whereas ChatGPT provides a
                    single answer or response. (40% of 1st clicks on google return to search page)</p>
                    <p><b>4. Scope:</b> Google search has access to a vast amount of information on the web, while ChatGPT is limited to
                        the information it was trained on. (This will change with time)</p>
                        <p>In short, Google search is a tool to find information on the web, while ChatGPT is a conversational tool that
                            can help you find the right questions to ask and synthesize large amounts of information for your specific
                            needs.</p>
    </div>
    
    
    
    
    

          
          
         
         
       
</section>