<section class="section-3" id="section-3">
<h1 class="section-heading section-3-heading">My Experience</h1>
    <div class="projects-wrapper center" id="experiences">   <!-- Section 3 Lam new project here -->
      <div class="timeline-wrapper">
        <div class="timeline">
          <!-- Event ( 1 ) -->
          <div class="event graduation row" *ngFor="let com of model?.companys">
            <div class="col-sm-3 col-xs-12 event-left wow fadeInUp" data-wow-duration="1s" data-wow-offset="200" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
              <h4>{{com.fromdateString}} - {{com.todateString}}</h4>
              <i class="fa fa-diamond fa-fw"></i>
             
            </div>
            <div class="col-sm-9 col-xs-12 event-right wow fadeInUp" data-wow-duration="1s" data-wow-offset="200" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
              <div class="company-name-caption">
                <a href="{{com.videoLink}}">{{com.name}} </a><span>(website: {{com.videoLink | lowercase  }})</span>
              </div>
              <div *ngFor="let pro of model?.projects ">
                <ng-container *ngIf="pro.companyCode==com.code">
                  <div>
                    <div class="content-wrapper"  >
                    
                      <h4>{{pro.name}}</h4>
                      <div class="separator"></div>
                      <p class="job-title">{{pro.position}}</p>
                      <p class="para">{{pro.description}}</p>
                      <p class="task-icon"><i class="fas fa-tasks"></i> Tasks: </p>
                      <div class="task-list">
                        <div *ngFor="let task of model?.projectTasks">
                          <ng-container *ngIf="task.projectCode==pro.code">
                            <div>
                              <p>- {{task.task}}</p>  
                            </div>
                          </ng-container>
                        </div>
                      </div>
                      <p class="tech-usage-caption">Technologies Used:</p>                    
                      <p>
                        
                        {{pro.techniCalStack}}
                      </p>
                      
                    </div>
                  </div>                 
                  
               
                </ng-container>
              </div>
              
              	
            </div>
          </div>
          
         
          
          
          
         
          
        </div>
      </div>
    </div>
    
    <div class="projects-wrapper center">
        <div class="row">
            <h1 class="section-heading section-3-heading">Education</h1>
        </div>
    <div class="row">
        
        <div class="col-lg-6" *ngFor="let item of model?.educations">
            <div class="education-school-caption project-name"><a href="{{item?.website}}">{{item?.schoolName}}</a></div>
            <div class="project">
                
                <div class="project-text">
                  <h2 class="project-name">{{item.certificateType}}</h2>
                  <h4 class="project-technologies">{{item.major}}</h4>
                </div>
                <img src="../assets/images/{{item.imageName}}" class="project-img" />
                <a
                  href="{{item.videoLink}}"
                  class="project-link"
                  target="_blank"
                  >Go to Video</a
                >
              </div>
        </div>
        
        
            
    </div>
             
      
      
      
     
     
    </div>
</section>